
* {margin: 0px;}

main, nav {display: block;}


main {
width: 80%;  
/*height: 450px;*/
background-color: rgba(155, 168, 51, 0.25);
margin-right: auto;
margin-left: auto;
padding: 10px;
margin-top: 60px;
border-radius: 25px;


background-image: url("Tahoe.jpg");
padding-bottom: 25px;
background-repeat: no-repeat;
background-size: cover;

}

main h2 {
  font-family: 'K2D', sans-serif;;
  text-align: center;
  /*background-color: yellow;*/
  margin-bottom: 0px;
  margin-top: 30px;
  color:#000000;
  font-size: 1.4em;
  font-weight: 900;
  color: #000000;
}


main p {
  font-family: 'K2D', sans-serif;;
  text-align: center;
  /*background-color: yellow;*/
  margin-bottom: 0px;
  margin-top: 30px;
  color:#000;
  font-size: 1.8em;
  font-weight: 900;
  color: #000;
}


p {
margin: 15px;
/*background-color: red;*/
margin-top: 0px;
}


nav {

  width: 100%;
  background-color: #dddddd;
  position: fixed;
  top: 0;
  min-width: 350px;
  max-width: 633px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    margin-left: 0px;
}

nav a {
    font-family: 'K2D', sans-serif;
    display: block;
    width: 150px;
    background-color: #dddddd;
    color: #000;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
   background-color: grey;
   color: #fff;
}

form, input {margin:20px auto; text-align: center;}

tr:nth-child(even) {
    background-color: #B2E0B2;
}


form .myLabel {
  font-family: 'K2D', sans-serif;;

  /*background-color: yellow;*/
  margin-bottom: 0px;
  margin-top: 30px;
  color:#000;
  font-size: 1em;
  font-weight: 900;
  color: #fff;
}

form .mySubmit {
  font-family: 'K2D', sans-serif;;

  /*background-color: yellow;*/
  margin-bottom: 0px;
  margin-top: 30px;
  color:#000;
  font-size: 1em;
  font-weight: 900;
}

.centered {
  background-color: #F0FFFF;
/*  top: 50%;
  left: 50%;*/
  /* bring your own prefixes */
}

.warning {
  font-family: 'K2D', sans-serif;;
  text-align: center;
  /*background-color: yellow;*/
  margin-bottom: 0px;
  margin-top: 30px;
  color:#FF4500;
  font-size: 1.4em;
  font-weight: 900;
  color: #FF4500;
}

.addQuote{
  height: 100px;
  width: 300px;
}

